/* The side navigation menu */
.sidebar {
  margin: 0;
  padding-top: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  padding-top: 100px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  /* background-color: #555; */
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.sidebar-row {
  width: 100%;
  height: 40px;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  border: none;
  background-color: #f8f9fa;
  justify-content: center;
  align-items: center;
}

.sidebar-row:hover {
  cursor: pointer;
  background-color: #2a7efd;
  color: white;
  border-radius: 10px;
}

.sidebar-row-active {
  cursor: pointer;
  background-color: #0b60e0;
  color: white;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  list-style-type: none;

  display: flex;
  flex-direction: row;
  border: none;

  justify-content: center;
  align-items: center;
}

.nav-link :hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #000;
  background-color: #000;
}
.nav-link #active {
  background-color: #000;
}

.nav-item {
  list-style: none;
  text-decoration: none;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
